.searchContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 3rem;
  padding: 0 1rem;
  border: 2px solid var(--gray-400);
  border-radius: 0.75rem;
  width: 20rem;
}

.searchIcon {
  display: flex;
  align-items: center;
  color: var(--gray-700);
}

.searchInput {
  border: none;
  color: var(--gray-900);
}

.searchInput:focus {
  outline: none;
}