.tableHeader {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray-300);
}

.rowTitle {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: start;
}

.rowData {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rowTitleName,
.rowDataName {
  width: 18.5rem;
}

.rowDataName {
  gap: 0.75rem !important;
}

.rowTitleEmail,
.rowDataEmail {
  width: 18.5rem;
}

.rowTitlePhoneNumber,
.rowDataPhoneNumber {
  width: 15rem;
}

.rowTitleTools,
.rowDataTools {
  width: 15rem;
}

.tableBody {
  display: grid;
  gap: 1rem;
}

.tableRow {
  display: flex;
}

.tableRow td {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.phoneIcon {
  display: flex;
  align-items: center;
  color: var(--black);
}

.toolsList {
  display: flex;
  gap: 1rem;
}

.toolsItem {
  color: var(--gray-800);
}
